<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/product">Product</a>
        <a href="/cart">Cart 0</a>
        <a href="/addItems">Add Items</a>
    </nav>
    <h1>real item adder</h1>
    <form action="/addItems" class="inputForm" method="GET">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="price">Price</label>
        <input type="text" name="price" id="price">
        <label for="desc">Summary</label>
        <input type="text" name="desc" id="desc">
        <input type="submit" name="" id="send">
    </form>
</body>
</html>