<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/product">Product</a>
        <a href="/cart">Cart 0</a>
        <a href="/addItems">Add Items</a>
    </nav>
    <h1>real cart</h1>
</body>
</html>