<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/product">Product</a>
        <a href="/cart">Cart 0</a>
        <a href="/addItems">Add Items</a>
        <form action="/" method="GET">
            <label for="searchItem">Search</label>
            <input type="text" name="searchItem" id="searchItem">
            <input type="submit" >
        </form>
    </nav>
<div class="firstRow">
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
</div>
<div class="secondRow">
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
    <div>
        <a href="#"><img src="A picture of a samsung 22 Pro" alt="pic of samsung phone"></a>
    </div>
</div>
</body>
</html>