<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/product">Product</a>
        <a href="/cart">Cart 0</a>
        <a href="/addItems">Add Items</a>
    </nav>
   <div>
    <span>SweatPants</span>
    <span>$29.65</span>
    <img src="" alt="Placeholder">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae quaerat quo doloremque quibusdam consequuntur dolores accusantium labore eius eum vitae! Impedit ut aliquid iste dicta atque animi ex non suscipit?</p>
    <button>Add to Cart</button>
   </div>

</body>
</html>